config ZMK_BEHAVIOR_AUTO_SYMBOL
    bool
    default y
    depends on DT_HAS_ZMK_BEHAVIOR_AUTO_SYMBOL_ENABLED

if ZMK_BEHAVIOR_AUTO_SYMBOL

config ZMK_BEHAVIOR_AUTO_SYMBOL_MAX_HELD
    int "Auto Symbol Max Held"
    default 10

endif
